<!-- <div *ngIf="!loading">
	<h1> CSV3 PHRASE </h1>
	<hr>
	
</div> -->

<div class="row">
	<div class="col-md-2 side">
<!-- 		<ul class="list-group">

		  <li class="list-group-item" *ngFor="let csv of csvPhrases">{{ csv.nom }}</li>
		
		</ul> -->
		<ngb-accordion *ngIf="curCsv != undefined && curPhrase != undefined" #acc="ngbAccordion" activeIds="{{ csvPhrases[curCsv].nom }}" (panelChange)="beforeChange($event)">

		  <ngb-panel *ngFor="let csv of csvPhrases; index as j" style='color: red'  id="{{ csv.nom }}" title="{{ csv.nom }}">
		    <ng-template ngbPanelContent>
		     	<table class="table">
		
		     		<tr  class="{{ (i == curPhrase) ? 'phrase-active' : '' }} " *ngFor="let phrase of csv.phrases; index as i"> <td class="list-phrase" (click)="setPhrase(j, i)">{{ phrase.num }} <i class="fa fa-check" aria-hidden="true" *ngIf="phrase.valid"></i></td>
					</tr>
		
				</table>
		    </ng-template>
		  </ngb-panel>
		 

		</ngb-accordion>

	</div>

	<div class="col-md-10 margin-bottom"  *ngIf="(curCsv != undefined) && (curPhrase != undefined) && csvPhrases[curCsv].phrases">
		<div class="col-md-12">
			<div class="card">
				  <div class="card-body">
		<!-- 		    <h5 class="card-title">Phrase </h5> -->
				   
				    <div class="card-text">
				    	
				    	<h5>
				    		<!-- <u>Phrase FR</u> : -->
				    		<p  [innerHTML]="csvPhrases[curCsv].phrases[curPhrase].phrase_fr_html | safeHtml" ></p>
				    	</h5>

				    	<hr>

			
				    	<h5>
				    		<!-- <u>Phrase EN</u> : -->
				    		<p [innerHTML]="csvPhrases[curCsv].phrases[curPhrase].phrase_en_html | safeHtml" ></p>
				    	</h5>

				    		

					</div>
				
				  </div>
				</div>
		</div>
		<!-- <hr> -->
		<div class='col-md-12 row'>
			<div class="col-md-8">
				
				<div class="card">
				  <div class="card-body">

				  
				    <div class="card-text row small-text">

				    	<div class="col-sm-3">
				    		<b>Num : </b>{{ csvPhrases[curCsv].phrases[curPhrase].num }}
				    	</div>
				    	<div class="col-sm-3">
				    		<b>Auteur : </b>{{ csvPhrases[curCsv].auteur }}
				    	</div>

				    	<div class="col-sm-3">
				    		<b>Date : </b>{{ csvPhrases[curCsv].date }}
				    	</div>

				    	<div class="col-sm-3">
				    		<b>Pays : </b>{{ csvPhrases[curCsv].pays }}
				    	</div>

				    	<div class="col-sm-3">
				    		<b>Coordonnées GPS : </b>({{ csvPhrases[curCsv].lat }}, {{ csvPhrases[curCsv].long }})
				    	</div>

				    	<div class="col-sm-3">
				    		<b>Titre FR : </b>{{ csvPhrases[curCsv].titre_fr }}
				    	</div>

				    	<div class="col-sm-3">
				    		<b>Titre EN : </b>{{ csvPhrases[curCsv].titre_en }}
				    	</div>

				    	<div class="col-sm-3">
				    		<b>Flux : </b>{{ csvPhrases[curCsv].flux }}
				    	</div>

				    

				    		

					</div>
				
				  </div>
				</div>


			</div>

			<div class="col-md-4">
				<div class="card">
				  <div class="card-body">

				   	

				    <div class="card-text">
				    	<span [ngClass]="{
						    'performance-1':i == 0,
						    'performance-2':i ==1,
						    'performance-3':i === 2
						}" *ngFor= "let perf of threeMaxEnjeuPerf;index as i">{{perf.performance}}%</span>
				    	<p class=' text-left'>
				    		<b>Performance</b>
				    		<span class="performance"> {{ perf }}%</span>

				    	</p>

				    	<button class="btn btn-warning" (click)="getMaxPerf()">MAXIMUM</button>
				    	<!-- <button class="btn btn-warning" (click)="getNMaxPerfArray()">test</button> -->

					</div>
					
				  </div>
				</div>
				<div class="seuil">
					<label>Seuil :</label>
					<!-- <span> {{seuil}} %</span> -->
					<select id="pet-select" [(ngModel)]="seuil" (ngModelChange)="onSeuilChange($event)">
					    <option value="{{ i }}" *ngFor="let elt of arrayNumber(99); index as i">{{ i }}</option>
				
					</select>
					%
				</div>
				<div>
					<button class="btn btn-secondary" (click)="onSeuilChange($event)"> Mettre à jour les phrases </button>
				</div>
			</div>
		</div>

		
		<div class='col-md-12 row'>
			<div class="col-md-12">
				
				<div class="card">
				  <div class="card-body">

				   	<p class="card-title">Enjeux </p>

				    <div class="card-text row">
				    	<!-- <div style="text-align: center;" class="col-sm-1 {{ (csvPhrases[curCsv].phrases[curPhrase].enjeu == 'none') ? 'enjeu-active' : '' }}"  (click)="setEnjeu('none')">
							<i class="fa fa-times fa-2x"></i>
						</div> -->

				    	<!-- <div class="col-sm-1 {{ (csvPhrases[curCsv].phrases[curPhrase].enjeu == enjeu.num) ? 'enjeu-active' : '' }}" *ngFor="let enjeu of enjeux" (click)="setEnjeu(enjeu)">
				    	
							<img src="{{ enjeu.image_url }}" alt="{{ enjeu.picto_png }}" class="img-fluid.">
				    		
						</div> -->
				    	
						<div  
						 [ngClass]="{
						 	'col-sm-1':true,
						 	'enjeu-active':csvPhrases[curCsv].phrases[curPhrase].enjeu == enjeu.num,
						    'enjeu-active-1':threeMaxEnjeuPerf[0].enjeu.num == enjeu.num,
						    'enjeu-active-2':threeMaxEnjeuPerf[1].enjeu.num == enjeu.num,
						    'enjeu-active-3':threeMaxEnjeuPerf[2].enjeu.num == enjeu.num
						 }"
						 *ngFor="let enjeu of enjeux" (click)="setEnjeu(enjeu)">
				    	
							<img src="{{ enjeu.image_url }}" alt="{{ enjeu.picto_png }}" class="img-fluid.">
				    		
						</div>
				    		

					</div>
				
				  </div>
				</div>


			</div>

		
		</div>

		
		<div class='col-md-12 row'>
			<div class="col-md-12">
				
				<div class="card">
				  <div class="card-body container">

				   	<!-- <p class="card-title">Satisfaction </p> -->

				    <div class="card-text row  justify-content-center" style="margin-right: 0px; margin-left: 0px;">
				    	<!-- <div style="text-align: center;" class="col-sm-1 {{ (csvPhrases[curCsv].phrases[curPhrase].satisfaction == 'none'  ) ? 'sat-active' : '' }}" (click)="setSatisfaction('none')">
				    		<i class="fa fa-times fa-2x" style="margin-top: 20%;"></i>
				    	</div> -->

				    	<div class="col-sm-12">
				    		<b>Satisfaction : </b> <span style="color: red">{{ perfSat }} point(s)</span>
				    	</div>
				    	<!-- <div class="col-sm-3 row" (click)="setSatisfaction(i)" *ngFor="let i of [1,2,3,4]"> -->
				    	<div class="col-sm-3 row"  *ngFor="let i of [1,2,3,4]">
				    		<p style="color: red">{{ satPhrases[i] }} phrases</p>
				    		<div style="text-align: center; margin-bottom: 10px" class="col-sm-12 {{ (csvPhrases[curCsv].phrases[curPhrase].satisfaction == i) ? 'sat-active' : '' }}">

				    			<img style="width: 30%" src="assets/images/emoji_{{ i }}.jpg" alt="1" class="img-fluid"> <br>
				    		</div>
				    		<div class="col-sm-12" style="text-align: center;">
				    	
							
								<!-- <span> {{seuil}} %</span> -->
								<select id="pet-select" [(ngModel)]="sat[i]['min']">
								    <option [ngValue]="elt" *ngFor="let elt of getSatMin(i)">{{ elt }}</option>
								</select>
								à
								<select id="pet-select" [(ngModel)]="sat[i]['max']">
								    <option [ngValue]="elt" *ngFor="let elt of getSatMax(i)">{{ elt }}</option>
								</select>
					
				    		</div>
				    		

				    		

				    	</div>

				    	<div class="col-sm-12" style="text-align: right;">
				    			<button class="btn btn-warning" (click)="onSeuilChange()">Enregistrer les seuils</button>
				    	</div>
				    	

					</div>
				
				  </div>
				</div>


			</div>

		
		</div>

		<hr>
		<div class="row margin-bottom">
			<!-- <div class="col-sm-6 text-right">
				<button class="btn btn-secondary btn-lg" (click)="previous()"><i class="fa fa-arrow-left"></i> PRECEDENT</button>
			</div> -->
			<div class="col-sm-4">
	
				
			</div>
			<div class="col-sm-8 text-right">
				<!-- <button class="btn btn-warning" (click)="classement()"> Lancer Classement par défaut </button> -->
				
			</div>
		</div>
		
	</div>

</div>
	<ng-template #customLoadingTemplate>
        <div class="custom-class">
            <h3 style="text-align: center; color: white">
                {{ textLoading }}
            </h3>
           
        </div>
    </ng-template>
<div class="loading" *ngIf="loading">
	<div style="text-align: center; color: white;position: absolute;top: 20px;z-index: 999999;">
    	{{ textLoading }}
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
    
</div>
<style type="text/css">
    .bg-secondary  {
	    display: none !important;
	}
</style>