.margin-bottom{
		margin-bottom: 20px;
}

 .col-sm-3{
	margin-bottom:10px;
}

 .col-sm-2{
	margin-bottom:20px;
}


.performance{
	font-size: 2em;
	color: #ffc107;
	font-weight: bold;
}

img{
	width: 100%;
	cursor: pointer;
}

.enjeu-active{
	border: 5px solid #ffd54f !important;
	color: #ffd54f;
	border-radius: 10px;
}

.sat-active{
	border: 8px solid #ffd54f ;
	
	border-radius: 10px;
	img{
		width: 120%
	}
}

.phrase-active{
	color: #ffd54f;
	font-weight: bold;
}

.card{
    	border-radius: 15px;
 }

 .btn{
		border-radius: 25px;
		// width: 50%;
	}
.btn-link{
	color: #ffd54f !important;
	text-decoration: none;
}

.list-phrase{
	cursor: pointer;
}

.side{
	max-height: 887px !important;

	overflow: scroll !important;
}

.small-text{
	font-size: 0.9em;
}

.card{
	    margin-bottom: 10px !important;
}

.hide{
	display: none;
}

.bg-secondary{
	display: none !important;
}
.performance-1{
	color: #7d867f !important;
	font-size: 30px;
	margin-right: 12px;
	font-weight: bold;
}
.performance-2{
	color: #7d867f !important;
	font-size: 20px;
	margin-right: 12px;
	font-weight: bold;
}
.performance-3{
	color: #7d867f !important;
	font-size: 16px;
	margin-right: 12px;
}
.enjeu-active-1{
	border: 5px solid #7d867f;
	color: #ffd54f;
	border-radius: 10px;
}
.enjeu-active-2{
	border: 3px solid #7d867f;
	color: #ffd54f;
	border-radius: 10px;
}
.enjeu-active-3{
	border: 1px solid #7d867f;
	color: #ffd54f;
	border-radius: 10px;
}
.seuil label{
	font-weight: bold;
	font-size: 13px;
	margin-left: 20px;
}
.seuil span{
	font-size: 18px;
	color: #ffc107;
	font-weight: bold;
}