<div class="row">
	

	<div class="col-md-12 margin-bottom"  *ngIf="!loading">
		<div class="col-md-12 row">

			

			<div class="col-md-12">
				<div class="card">
				  <div class="card-body row">
						<div class="col-md-2">
							<b>{{ client.prenom }} {{ client.nom }}</b>
							
						</div>
						<div class="col-md-3">
							{{ client.mail }}
						</div>
						<div class="col-md-1">
							{{ client.organisation }}
						</div>

						<div class="col-md-2">
							{{ client.poste }}
						</div>

						<div class="col-md-1">
							{{ client.langue }}
						</div>

						<div class="col-md-1">
							{{ client.password }}
						</div>

						<div class="col-md-2">
							{{ client.last_connection }}
						</div>
				    	
				  		
				  </div>
				</div>
				
			</div>

			<div class="col-md-12">
				<div class="card" >
				  <div class="card-body row">
						<div class="col-md-3">
							<img style="height: 70px" src="{{ client.img_url }}" alt="client avatar" class="img-thumbnail img-fluid">
							
						</div>
						<div class="col-md-3">
							<img style="height: 70px" src="{{ client.orga_img_url }}" alt="orga logo" class="img-thumbnail img-fluid">
							
						</div>

						<div class="col-md-3">
							<img style="height: 70px" src="{{ client.frontoffice_img_url }}" alt="frontoffice" class="img-thumbnail img-fluid">
							
						</div>

						<div class="col-md-3">
							<img style="height: 70px" src="{{ client.favicon_img_url }}" alt="favicon" class="img-thumbnail img-fluid">
							
						</div>
						
				    		
				  		
				  </div>
				  	<div class="loading" *ngIf="loadingPng">
					    <ngx-loading [show]="loadingPng" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
					</div>
				</div>
				
			</div>

			

			<div class="col-md-12">
				<div class="card">
				  	<div class="card-body">	
						<div class="row">
				    		
				    			<div class="col-sm-2 flux" *ngFor="let flux of client.flux">
				    				{{ fr(flux.flux) }} <br>
				    				{{ en(flux.flux) }}
				    			</div>
				    

				    	</div>
				    	
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="card">
				  	<div class="card-body" style="height: 200px; overflow: scroll;">	
				  		<div class="row justify-content-center align-self-center">
				    		<div class="col-sm-2" *ngFor="let clt of clients">
				    			<span (click)="setClient(clt)" class="badge badge-{{ (clt.num == client.num) ? 'warning' : 'secondary' }}"> 
				    			{{ fr(clt.num) }}</span>
				    			
				    		</div>
				    	</div>

				  	</div>
				 </div>
			</div>

		




		</div>
		<!-- <hr> -->
		

		
		

		
	

		
		
	</div>

</div>

<div class="loading" *ngIf="loading">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>
<style type="text/css">
    .bg-secondary  {
	    display: none !important;
	}
</style>