
<div class="row">


            <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                  	<div class="loading" *ngIf="loading">
						    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '12px', backdropBackgroundColour: 'rgba(255,255,255,0.6)',
						    primaryColour: '#FFC107',
					        secondaryColour: '#FFC107',
					        tertiaryColour: '#FFC107'
						      }" [template]="customLoadingTemplate"></ngx-loading>

					</div>
                  	<div class="form-group row">
	                    <label class="col-sm-2">Emetteur : </label>
	                    <select class="form-control col-sm-4" [(ngModel)]="emetteur">
	                        <option *ngFor="let f of flux" value="{{ f }}">{{ f }}</option>

	                    </select>
	                </div>

	                <div class="form-group row">
	                    <label class="col-sm-2">Année début : </label>
	                    <select class="form-control col-sm-4" [(ngModel)]="yearFrom" (ngModelChange)="yearChange(true)">
	                        <option *ngFor="let year of yearsFrom" value="{{ year }}">{{ year }}</option>

	                    </select>
	                </div>

	                <div class="form-group row">
	                    <label class="col-sm-2">Année fin : </label>
	                    <select class="form-control col-sm-4" [(ngModel)]="yearTo" (ngModelChange)="yearChange(false)">
	                        <option *ngFor="let year of yearsTo" value="{{ year }}">{{ year }}</option>

	                    </select>
	                </div>

	                <div class="form-group row">
	                   	<div class="col-sm-4 offset-sm-2">
							<button class="btn btn-warning btn-sm" (click)="confirm()" [disabled]=" !emetteur || !yearFrom || !yearTo "> Confirmer</button>

							<button *ngIf="result" class="btn btn-warning btn-sm" (click)="download()" [disabled]=" !emetteur || !yearFrom || !yearTo "> <i class="fa fa-download"></i> Télécharger </button>
						</div>
	                </div>


	                <div class="card-text" *ngIf="result" id="result">
	                	<p>Emetteur : {{ emetteur }} <br/>
	                		Entre {{ yearFrom }} et {{ yearTo }} <br/>
	                		Sur {{ csvPhrasesFiltered.length }} documents de références soit {{ nbExtraits }} extrait{{ nbExtraits > 1 ? "s" : ""}} appartenant au flux {{ emetteur }} : 
	                		
	                	</p>
	                	
	                	<ul>
	                		<li *ngFor="let enj of enjeuxExtraits; index as i">

	                			<span *ngIf="enj.val > 0">
	                				Le {{ i+1 }}{{ i+1 == 1 ? "er" : "ème" }} enjeu traité est {{ fr("##"+enj.key) }} / {{ fr("###"+(enj.key < 10 ? "0"+enj.key : enj.key)).split('.')[0]}} avec {{ enj.val }} extrait{{ enj.val > 1 ? "s" : ""}} dont 
		                			<span *ngFor="let sat of enj.sat"> <span *ngIf="sat">{{ sat.percent}} % à niveau {{ sat.sat}}, </span> </span>
	                			</span>
	                			<span *ngIf="enj.val == 0">
	                				Le {{ i+1 }}{{ i+1 == 1 ? "er" : "ème" }} enjeu {{ fr("##"+enj.key) }} / {{ fr("###"+(enj.key < 10 ? "0"+enj.key : enj.key)).split('.')[0]}} n'est pas traité
	                			</span>
		                			
	                		</li>
	                	</ul>
	                </div>

                            
                  </div>
              </div>
          </div>

</div>



