.dp-material {
  width: 5em;
  margin-left: 2.5em;
}
.nv-file-over {
  color: #FFC107;
  border: dotted 5px #FFC107;
  background-color: #fff;

}
.disabled {
  background-color : #E0E0E0;
  color: #fff;
  min-height: 35px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}
.my-drop-zone {
      position: relative;
    border: dotted 3px lightgray;
  border-radius: 10px;
  height: 150px;

  background-color: #eee;
  padding: 10px;
   }
.errors{
  color:  red;
  font-size: 11px;
  margin-left: 6.6em;
}
label {
  font-weight: 700;
}
.csv3_{
  display: inline;
  width : 8em;
  margin-left : 2.3em;
}
.titre {
  display: inline;
  width: 30em;
  margin-left: 2.6em;
}
.pays {
  display: inline;
  width: 30em;
  margin-left: 2.5em;
}
.gps {
  display: inline;
  width: 5em;
  margin-left: 2.2em;
  margin-right: 1em;
}
.langue {
  width : 5em;
  display: inline;
  margin-left: 1em;
}
.flux {
  display: inline;
  margin-left: 2.5em;
  width: 30em;
}
html, body { height: 100%; }
.date {
  max-width:  26.7em;
  display: inline;
  // margin-left: 2.5em;
  margin-right: 0.5em;

      display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem !important;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-container {
  margin-top: 1em ;
  margin-left: 4.8em;
  max-width: 300px;
  background-color: #EDEDED;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
}

input[type='file'] {
  display: none;
}
.file-info {
  font-size: 0.9em;
}
.browse-btn {
  background: #03A595;
  color: #fff;
  min-height: 35px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.browse-btn:hover {
  background: #4ec0b4;
}

.upload {
  margin-top: 3em ;
  background-color:  #f0c053;
  color:  black;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 20px;
  margin-left: 4.8em;
}

@media (max-width: 320px) {
  .dp-material {
    margin-left: 0.2em;
  }
  .date {
    width: 3em;
    margin-left : 0.2em;
  }
  .titre , .auteur{
    width: 10.7em;
    margin-left: 2.4em;

  }
  .gps {
    width: 4.5em;
    margin-left : 0.2em;
    margin-right : 0.2em;
  }
  .pays, .flux {
    width :  10em;
    margin-left: 2.6em;
  }


    .upload {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .input-container {
    margin-left : 0;
  }

}
@media (min-width : 321px) and (max-width: 767px) {
  .csv3_ {
    margin-left: 1.8em;
  }
  .titre {
    width: 13em;
    margin-left: 2.4em;
  }
  .flux {
    width :  17em;
  }
  .pays, .flux {
    width :  13em;
    margin-left: 2.2em;
  }
  .upload {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .langue {
    margin-left : 0.6em;
  }
  .gps {
    margin-left: 0.7em;
    margin-right: 0.5em;
  }
  .dp-material {
    margin-left: 2.1em;
  }
  .input-container {
    margin-left : 0;
  }
  .date {
    max-width: 9em
  }
}
@media (min-width: 768px)
{
  .form-content {
  padding-left: 5em;
  }

}
