
<div class="row">


            <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                            <div role="form">
                                <form class="form-content" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

                                    <div *ngIf="submitted">
                                            <div *ngIf="f.csv3.errors && f.csv3.errors.required" class="errors">*csv3 requis</div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="csv3_" class="col-sm-1">CSV3_</label>
                                        <!-- <input type="text" formControlName="csv3" class="form-control csv3_" placeholder="XXXX"> -->
                                        <select class="form-control col-sm-6" formControlName="csv3">
                                            <ng-container *ngFor="let item of temp">
                                                <option value={{item}}>{{item}}</option>
                                            </ng-container>                                        
                                        </select>
                                        
                                    </div>
                                   

                                    <div *ngIf="submitted" >
                                          <div *ngIf="f.selectedDate.errors && f.selectedDate.errors.required" class="errors">*date requise</div>
                                      </div>

                                    <div class="form-group row">
                                      <label for="date" class="col-sm-1">DATE</label>
                                      <input class="form-control col-sm-6" placeholder="yyyy-mm-dd" name="dp" [maxDate]="{year : maxYear, month: maxMonth, day : maxDate}" formControlName="selectedDate" class="form-control date" ngbDatepicker #d="ngbDatepicker">
                                      <div class="input-group-append" style="max-height: 36px">
                                        <button class="btn btn-outline-secondary"  (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                      </div>
                                    </div>
                                    

                                    <div *ngIf="submitted">
                                            <div *ngIf="f.titre.errors && f.titre.errors.required" class="errors">*titre requis</div>
                                    </div>
                                    <div class="form-group row" >
                                        <label for="titre" class="col-sm-1">Titre</label>
                                        <input type="text" formControlName="titre" class="form-control col-sm-6" id="titre" placeholder="Titre">
                                        
                                    </div>

                                    <div *ngIf="submitted">
                                            <div *ngIf="f.gps_x.errors && f.gps_x.errors.required" class="errors">*gps_x requis</div>
                                            <div *ngIf="f.gps_y.errors && f.gps_y.errors.required" class="errors ">*gps_y requis</div>
                                    </div>
                                    <div class="form-group inline row">
                                        <label for="gps_x" class="col-sm-1">GPS X</label>
                                        <input type="text" formControlName="gps_x" class="form-control col-sm-2" id="gps_x" placeholder="GPS X" >
                                        <label for="gps_y" class="col-sm-1"> GPS Y</label>
                                        <input type="text" formControlName="gps_y" class="form-control col-sm-2" id="gps_y" placeholder="GPS Y">
                                        
                                    </div>
                                    

                                    <div *ngIf="submitted">
                                            <div *ngIf="f.langue.errors && f.langue.errors.required" class="errors">*langue requise</div>
                                    </div>
                                    <div class="form-group row">
                                      <label for="langue" class="col-sm-1">Langue </label>
                                      <select class="form-control col-sm-6" formControlName="langue" id="langue">
                                        <option>FR</option>
                                        <option>EN</option>
                                      </select>
                                      
                                    </div>
                                    
                                    <!-- <div class="form-group">
                                      <label for="pays">PAYS</label>
                                      <select class="form-control pays">
                                            <ng-container *ngFor="let item of temp">
                                                <option value={{item}}>{{item}}</option>
                                            </ng-container>                                        
                                      </select>
                                    </div> -->
                                    <!-- <div class="form-group">
                                      <label for="pays">PAYS</label>
                                      <select class="form-control pays" id="pays" formControlName="pays">
                                        <option value="AF">Afghanistan</option>
                                        <option value="AX">Åland Islands</option>
                                        <option value="AL">Albania</option>
                                        <option value="DZ">Algeria</option>
                                        <option value="AS">American Samoa</option>
                                        <option value="AD">Andorra</option>
                                        <option value="AO">Angola</option>
                                        <option value="AI">Anguilla</option>
                                        <option value="AQ">Antarctica</option>
                                        <option value="AG">Antigua and Barbuda</option>
                                        <option value="AR">Argentina</option>
                                        <option value="AM">Armenia</option>
                                        <option value="AW">Aruba</option>
                                        <option value="AU">Australia</option>
                                        <option value="AT">Austria</option>
                                        <option value="AZ">Azerbaijan</option>
                                        <option value="BS">Bahamas</option>
                                        <option value="BH">Bahrain</option>
                                        <option value="BD">Bangladesh</option>
                                        <option value="BB">Barbados</option>
                                        <option value="BY">Belarus</option>
                                        <option value="BE">Belgium</option>
                                        <option value="BZ">Belize</option>
                                        <option value="BJ">Benin</option>
                                        <option value="BM">Bermuda</option>
                                        <option value="BT">Bhutan</option>
                                        <option value="BO">Bolivia, Plurinational State of</option>
                                        <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                        <option value="BA">Bosnia and Herzegovina</option>
                                        <option value="BW">Botswana</option>
                                        <option value="BV">Bouvet Island</option>
                                        <option value="BR">Brazil</option>
                                        <option value="IO">British Indian Ocean Territory</option>
                                        <option value="BN">Brunei Darussalam</option>
                                        <option value="BG">Bulgaria</option>
                                        <option value="BF">Burkina Faso</option>
                                        <option value="BI">Burundi</option>
                                        <option value="KH">Cambodia</option>
                                        <option value="CM">Cameroon</option>
                                        <option value="CA">Canada</option>
                                        <option value="CV">Cape Verde</option>
                                        <option value="KY">Cayman Islands</option>
                                        <option value="CF">Central African Republic</option>
                                        <option value="TD">Chad</option>
                                        <option value="CL">Chile</option>
                                        <option value="CN">China</option>
                                        <option value="CX">Christmas Island</option>
                                        <option value="CC">Cocos (Keeling) Islands</option>
                                        <option value="CO">Colombia</option>
                                        <option value="KM">Comoros</option>
                                        <option value="CG">Congo</option>
                                        <option value="CD">Congo, the Democratic Republic of the</option>
                                        <option value="CK">Cook Islands</option>
                                        <option value="CR">Costa Rica</option>
                                        <option value="CI">Côte d'Ivoire</option>
                                        <option value="HR">Croatia</option>
                                        <option value="CU">Cuba</option>
                                        <option value="CW">Curaçao</option>
                                        <option value="CY">Cyprus</option>
                                        <option value="CZ">Czech Republic</option>
                                        <option value="DK">Denmark</option>
                                        <option value="DJ">Djibouti</option>
                                        <option value="DM">Dominica</option>
                                        <option value="DO">Dominican Republic</option>
                                        <option value="EC">Ecuador</option>
                                        <option value="EG">Egypt</option>
                                        <option value="SV">El Salvador</option>
                                        <option value="GQ">Equatorial Guinea</option>
                                        <option value="ER">Eritrea</option>
                                        <option value="EE">Estonia</option>
                                        <option value="ET">Ethiopia</option>
                                        <option value="FK">Falkland Islands (Malvinas)</option>
                                        <option value="FO">Faroe Islands</option>
                                        <option value="FJ">Fiji</option>
                                        <option value="FI">Finland</option>
                                        <option value="FR">France</option>
                                        <option value="GF">French Guiana</option>
                                        <option value="PF">French Polynesia</option>
                                        <option value="TF">French Southern Territories</option>
                                        <option value="GA">Gabon</option>
                                        <option value="GM">Gambia</option>
                                        <option value="GE">Georgia</option>
                                        <option value="DE">Germany</option>
                                        <option value="GH">Ghana</option>
                                        <option value="GI">Gibraltar</option>
                                        <option value="GR">Greece</option>
                                        <option value="GL">Greenland</option>
                                        <option value="GD">Grenada</option>
                                        <option value="GP">Guadeloupe</option>
                                        <option value="GU">Guam</option>
                                        <option value="GT">Guatemala</option>
                                        <option value="GG">Guernsey</option>
                                        <option value="GN">Guinea</option>
                                        <option value="GW">Guinea-Bissau</option>
                                        <option value="GY">Guyana</option>
                                        <option value="HT">Haiti</option>
                                        <option value="HM">Heard Island and McDonald Islands</option>
                                        <option value="VA">Holy See (Vatican City State)</option>
                                        <option value="HN">Honduras</option>
                                        <option value="HK">Hong Kong</option>
                                        <option value="HU">Hungary</option>
                                        <option value="IS">Iceland</option>
                                        <option value="IN">India</option>
                                        <option value="ID">Indonesia</option>
                                        <option value="IR">Iran, Islamic Republic of</option>
                                        <option value="IQ">Iraq</option>
                                        <option value="IE">Ireland</option>
                                        <option value="IM">Isle of Man</option>
                                        <option value="IL">Israel</option>
                                        <option value="IT">Italy</option>
                                        <option value="JM">Jamaica</option>
                                        <option value="JP">Japan</option>
                                        <option value="JE">Jersey</option>
                                        <option value="JO">Jordan</option>
                                        <option value="KZ">Kazakhstan</option>
                                        <option value="KE">Kenya</option>
                                        <option value="KI">Kiribati</option>
                                        <option value="KP">Korea, Democratic People's Republic of</option>
                                        <option value="KR">Korea, Republic of</option>
                                        <option value="KW">Kuwait</option>
                                        <option value="KG">Kyrgyzstan</option>
                                        <option value="LA">Lao People's Democratic Republic</option>
                                        <option value="LV">Latvia</option>
                                        <option value="LB">Lebanon</option>
                                        <option value="LS">Lesotho</option>
                                        <option value="LR">Liberia</option>
                                        <option value="LY">Libya</option>
                                        <option value="LI">Liechtenstein</option>
                                        <option value="LT">Lithuania</option>
                                        <option value="LU">Luxembourg</option>
                                        <option value="MO">Macao</option>
                                        <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                        <option value="MG">Madagascar</option>
                                        <option value="MW">Malawi</option>
                                        <option value="MY">Malaysia</option>
                                        <option value="MV">Maldives</option>
                                        <option value="ML">Mali</option>
                                        <option value="MT">Malta</option>
                                        <option value="MH">Marshall Islands</option>
                                        <option value="MQ">Martinique</option>
                                        <option value="MR">Mauritania</option>
                                        <option value="MU">Mauritius</option>
                                        <option value="YT">Mayotte</option>
                                        <option value="MX">Mexico</option>
                                        <option value="FM">Micronesia, Federated States of</option>
                                        <option value="MD">Moldova, Republic of</option>
                                        <option value="MC">Monaco</option>
                                        <option value="MN">Mongolia</option>
                                        <option value="ME">Montenegro</option>
                                        <option value="MS">Montserrat</option>
                                        <option value="MA">Morocco</option>
                                        <option value="MZ">Mozambique</option>
                                        <option value="MM">Myanmar</option>
                                        <option value="NA">Namibia</option>
                                        <option value="NR">Nauru</option>
                                        <option value="NP">Nepal</option>
                                        <option value="NL">Netherlands</option>
                                        <option value="NC">New Caledonia</option>
                                        <option value="NZ">New Zealand</option>
                                        <option value="NI">Nicaragua</option>
                                        <option value="NE">Niger</option>
                                        <option value="NG">Nigeria</option>
                                        <option value="NU">Niue</option>
                                        <option value="NF">Norfolk Island</option>
                                        <option value="MP">Northern Mariana Islands</option>
                                        <option value="NO">Norway</option>
                                        <option value="OM">Oman</option>
                                        <option value="PK">Pakistan</option>
                                        <option value="PW">Palau</option>
                                        <option value="PS">Palestinian Territory, Occupied</option>
                                        <option value="PA">Panama</option>
                                        <option value="PG">Papua New Guinea</option>
                                        <option value="PY">Paraguay</option>
                                        <option value="PE">Peru</option>
                                        <option value="PH">Philippines</option>
                                        <option value="PN">Pitcairn</option>
                                        <option value="PL">Poland</option>
                                        <option value="PT">Portugal</option>
                                        <option value="PR">Puerto Rico</option>
                                        <option value="QA">Qatar</option>
                                        <option value="RE">Réunion</option>
                                        <option value="RO">Romania</option>
                                        <option value="RU">Russian Federation</option>
                                        <option value="RW">Rwanda</option>
                                        <option value="BL">Saint Barthélemy</option>
                                        <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                        <option value="KN">Saint Kitts and Nevis</option>
                                        <option value="LC">Saint Lucia</option>
                                        <option value="MF">Saint Martin (French part)</option>
                                        <option value="PM">Saint Pierre and Miquelon</option>
                                        <option value="VC">Saint Vincent and the Grenadines</option>
                                        <option value="WS">Samoa</option>
                                        <option value="SM">San Marino</option>
                                        <option value="ST">Sao Tome and Principe</option>
                                        <option value="SA">Saudi Arabia</option>
                                        <option value="SN">Senegal</option>
                                        <option value="RS">Serbia</option>
                                        <option value="SC">Seychelles</option>
                                        <option value="SL">Sierra Leone</option>
                                        <option value="SG">Singapore</option>
                                        <option value="SX">Sint Maarten (Dutch part)</option>
                                        <option value="SK">Slovakia</option>
                                        <option value="SI">Slovenia</option>
                                        <option value="SB">Solomon Islands</option>
                                        <option value="SO">Somalia</option>
                                        <option value="ZA">South Africa</option>
                                        <option value="GS">South Georgia and the South Sandwich Islands</option>
                                        <option value="SS">South Sudan</option>
                                        <option value="ES">Spain</option>
                                        <option value="LK">Sri Lanka</option>
                                        <option value="SD">Sudan</option>
                                        <option value="SR">Suriname</option>
                                        <option value="SJ">Svalbard and Jan Mayen</option>
                                        <option value="SZ">Swaziland</option>
                                        <option value="SE">Sweden</option>
                                        <option value="CH">Switzerland</option>
                                        <option value="SY">Syrian Arab Republic</option>
                                        <option value="TW">Taiwan, Province of China</option>
                                        <option value="TJ">Tajikistan</option>
                                        <option value="TZ">Tanzania, United Republic of</option>
                                        <option value="TH">Thailand</option>
                                        <option value="TL">Timor-Leste</option>
                                        <option value="TG">Togo</option>
                                        <option value="TK">Tokelau</option>
                                        <option value="TO">Tonga</option>
                                        <option value="TT">Trinidad and Tobago</option>
                                        <option value="TN">Tunisia</option>
                                        <option value="TR">Turkey</option>
                                        <option value="TM">Turkmenistan</option>
                                        <option value="TC">Turks and Caicos Islands</option>
                                        <option value="TV">Tuvalu</option>
                                        <option value="UG">Uganda</option>
                                        <option value="UA">Ukraine</option>
                                        <option value="AE">United Arab Emirates</option>
                                        <option value="GB">United Kingdom</option>
                                        <option value="US">United States</option>
                                        <option value="UM">United States Minor Outlying Islands</option>
                                        <option value="UY">Uruguay</option>
                                        <option value="UZ">Uzbekistan</option>
                                        <option value="VU">Vanuatu</option>
                                        <option value="VE">Venezuela, Bolivarian Republic of</option>
                                        <option value="VN">Viet Nam</option>
                                        <option value="VG">Virgin Islands, British</option>
                                        <option value="VI">Virgin Islands, U.S.</option>
                                        <option value="WF">Wallis and Futuna</option>
                                        <option value="EH">Western Sahara</option>
                                        <option value="YE">Yemen</option>
                                        <option value="ZM">Zambia</option>
                                        <option value="ZW">Zimbabwe</option>
                                      </select>
                                      <div *ngIf="submitted">
                                          <div *ngIf="f.pays.errors && f.pays.errors.required" class="errors">*pays requis</div>
                                      </div>
                                    </div> -->

                                    <div *ngIf="submitted">
                                          <div *ngIf="f.flux.errors && f.flux.errors.required" class="errors">*flux requis</div>
                                      </div>
                                    <div class="form-group row">
                                      <label for="flux" class="col-sm-1">FLUX</label>
                                      <select class="form-control col-sm-6" id="flux" formControlName="flux">
                                          <option *ngFor="let item of flux" value={{item}}>{{item}}</option>
                                      </select>
                                      
                                    </div>

                                    

                                    <div *ngIf="submitted">
                                            <div *ngIf="f.auteur.errors && f.auteur.errors.required" class="errors">*auteur requis</div>
                                    </div>
                                    <div class="form-group row" >
                                        <label for="auteur" class="col-sm-1">Auteur</label>
                                        <input type="text" formControlName="auteur" class="form-control col-sm-6" id="auteur" placeholder="Auteur">
                                       
                                    </div>
                                    

                                    <div class="input-container">

                                      <div ng2FileDrop
                                         [ngClass]="{'nv-file-over': hasBaseDropZoneOver['txt']}"
                                         (fileOver)="fileOverBase($event,'txt')"
                                         (onFileDrop)="onTxtDrop($event)"
                                         [uploader]="txt"
                                         class="well my-drop-zone multi-file-2"
                                         ng2FileDropAcceptMultiple="false" >
                                         
                                         <input type="file" (change)="onFileChange($event)" #txtInput>
                                   <!--    <button [ngClass]="disabled ? 'disabled' : 'browse-btn'" (click)="openFileBrowser()">
                                        Browse Files
                                      </button> -->
                                      <!-- <span class="file-info" *ngIf="!filename"> Upload a TXT file</span>
                                      <span class="file-info" *ngIf="filename"> {{filename}}</span> -->


                    <!--                     <span class="badge badge-{{ item.delete ? 'danger' : 'secondary' }}" *ngFor="let item of listPdf" >{{ item.name }}

                                            <button class="btn btn-xs">
                                                    <a href="{{ item.url }}">
                                                        <i class="fa fa-download"></i>
                                                    </a>
                                            </button>

                                            <button class="btn btn-xs" (click)="remove(item)"><i class="fa fa-times"></i></button></span> -->

                                        <p class="text-center" style ="margin-top: 14px; margin-bottom: 5px"><i class="fa fa-arrow-circle-o-down"></i> DROP Ex : csv.txt</p>

                                        <span class="badge badge-warning text-center" *ngFor="let item of txt.queue" style="margin-left: 50%; transform: translateX(-50%)">{{ item?.file?.name }} <button class="btn btn-xs" (click)="removeFile(item,txt)"><i class="fa fa-times"></i></button></span>
                                        <span class="errors" *ngIf="filename"> Upload a TXT file</span>
                                    </div>
                                    </div>
                                    <div *ngIf="submitted">
                                          <div *ngIf="txtError != null" class="errors">*{{txtError}}</div>
                                      </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn upload"><i class="fa fa-upload"></i> UPLOADER LE <span>CSV</span></button>
                                    </div>

                                </form>
                            </div>

                  </div>
              </div>
          </div>

</div>

<ng-template #success let-c="close" let-d="dismiss">
                   <!--  <div class="modal-header">
                        <h4 class="modal-title"><i class="fa fa-times"></i></h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div> -->
                    <div class="modal-body text-center">
                        <!-- <h4 class="modal-title"></h4> -->
                        <p><i class="fa fa-check fa-5x" style="color: #727B84"></i></p>
                        <p>  CVS enregistré avec succès</p>
                        <div class="text-right"><button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button></div>
                    </div>
                   <!--  <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    </div> -->
</ng-template>

<div class="loading" *ngIf="loading">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>