<!-- <div *ngIf="!loading">
	<h1> CSV2 ENJEU </h1>
	<hr>
	
</div> -->

<div class="row">
	

	<div class="col-md-12 margin-bottom"  *ngIf="!loading">
		<div class="col-md-12 row">

			

			<div class="col-md-12">
				<div class="card">
				  <div class="card-body">
				  		<div class="row">
				    		<div class="col-sm-1">
				    			<img style="height: auto;" src="{{ enjeu.image_url }}" alt="{{ enjeu.picto_png }}" class="img-thumbnail img-fluid">
				    		</div>
				    		<div class="col-sm-3">
				    			<h4>{{ fr(enjeu.titre) }}</h4>
				  				<h4>{{ en(enjeu.titre) }}</h4>
				    		</div>
				    		<div class="col-sm-8">
				    			<h6>{{ fr(enjeu.pre_def) }}</h6>
				  				<h6>{{ en(enjeu.pre_def) }}</h6>
				    		</div>
				    	</div>
				    	
				  		
				  </div>
				</div>
				
			</div>
			

			<div class="col-md-6">
				<div class="card">
				  <div class="card-body" style="height: 200px; max-height: 200px; overflow: scroll;">
				    			<p>{{ fr(enjeu.def) }}</p>
				  </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
				  <div class="card-body" style="height: 200px; max-height: 200px; overflow: scroll;">
				    			<p>{{ en(enjeu.def) }}</p>
				  </div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="card">
				  	<div class="card-body" >	
						<div class="row">
				    		
				    			<div class="col-sm-1 small {{ (mot.point == 6) ? 'bold' : '' }}" *ngFor="let mot of enjeu.mots.fr">
				    				{{ mot.mot }}
				    			</div>
				    

				    	</div>
				    	<hr>
				    	<div class="row">
				    		

				    			<div class="col-sm-1 small {{ (mot.point == 6) ? 'bold' : '' }}" *ngFor="let mot of enjeu.mots.en">
				    				{{ mot.mot }}
				    			</div>


				    	</div>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="card">
				  	<div class="card-body">	
				  		<div class="row">
				    		<div class="col-sm-4 col-lg-3 middle" *ngFor="let enj of enjeux">

				    			<span (click)="setEnjeu(enj)" class="badge badge-{{ (enj.key == enjeu.key) ? 'warning' : 'secondary' }}" style="white-space: normal;">
				    			<img style="height: 30px;width: auto;" src="{{ enj.image_url }}" alt="{{ enjeu.picto_png }}" class="img-thumbnail mx-auto  img-fluid"> 
				    			
				    			{{ fr(enj.titre) }} - {{ enjeuExtrait[enj.key] ? enjeuExtrait[enj.key] : 0}} extraits</span>
				    			
				    		</div>
				    	</div>

				  	</div>
				 </div>
			</div>


		</div>
		<!-- <hr> -->
		

		
		

		
	

		
		
	</div>

</div>

<div class="loading" *ngIf="loading">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>
<style type="text/css">
    .bg-secondary  {
	    display: none !important;
	}
</style>