<!-- <div *ngIf="!loading">
	<h1> CSV2 ENJEU </h1>
	<hr>
	
</div> -->

<div class="row">
	

	<div class="col-md-12 margin-bottom"  >
		<div class="col-md-12 row">
			<div class="col-md-12">
				<div class="card" >
					  <div class="card-body">
						  	<div class="row">
            <div class="col">
                <div ngbDropdown class="d-inline-block dropdown">
                    <button class="btn btn-default" ngbDropdownToggle> <span class="flag-icon flag-icon-{{ lang == 'en' ? 'gb' : 'fr'  }} flag-icon-squared"></span> {{ lang | uppercase }}</button>
                    <div ngbDropdownMenu>
   
                        <a class="dropdown-item" (click)="changeLang('fr')">
	                        <span class="flag-icon flag-icon-fr flag-icon-squared"></span> FR
	                    </a>
	                    <a class="dropdown-item" (click)="changeLang('en')">
	                        <span class="flag-icon flag-icon-gb flag-icon-squared"></span> EN
	                    </a>
                    </div>
                </div>
            </div>

        </div>
					  </div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="card" >
					  <div class="card-body"  style="height: 400px; max-height: 400px; overflow: scroll;" *ngIf="phrases && enjeu">
			<!-- 		    <h5 class="card-title">Phrase </h5> -->
					   	<div class="loading" *ngIf="phrasesLoading">
						    <ngx-loading [show]="phrasesLoading" [config]="{ backdropBorderRadius: '12px', backdropBackgroundColour: 'rgba(255,255,255,0.6)', 
						    primaryColour: '#FFC107', 
					        secondaryColour: '#FFC107', 
					        tertiaryColour: '#FFC107'
						      }" [template]="customLoadingTemplate"></ngx-loading>
						      
						</div>


					
							<div  class="card-text" >
					    	
					    	
					    		<!-- <u>Phrase FR</u> : -->
					    		<div *ngFor="let phrase of phrases[enjeu.num]; index as i">
					    			
					    			<p *ngIf="lang == 'fr' && phrase.langue == 'FR'" [innerHTML]="phrase.phrase_fr_html | safeHtml" ></p>
					    			<p *ngIf="lang == 'en' && phrase.langue == 'EN'" [innerHTML]="phrase.phrase_en_html | safeHtml" ></p>
					    			<hr *ngIf="lang == 'fr' && phrase.langue == 'FR' && phrase.phrase_fr != ''">
					    			<hr *ngIf="lang == 'en' && phrase.langue == 'EN' && phrase.phrase_en != ''">
					    		</div>
					    		
						    	
					

							</div>
					
					    


							
					
					  </div>
					</div>
			</div>
			


			

			


			<div class="col-md-12"  *ngIf="!loading" >
				<div class="card">
				  	<div class="card-body">	
				  		<div class="row">
				    		<div class="col-sm-4 col-lg-3 middle" *ngFor="let enj of enjeux">

				    			<span (click)="setEnjeu(enj)" class="badge badge-{{ (enj.key == enjeu.key) ? 'warning' : 'secondary' }}" style="white-space: normal;">
				    			<img style="height: 30px;width: auto;" src="{{ enj.image_url }}" alt="{{ enjeu.picto_png }}" class="img-thumbnail mx-auto  img-fluid"> 
				    			
				    			{{ fr(enj.titre) }} </span>
				    			
				    		</div>
				    	</div>

				  	</div>
				 </div>
			</div>


		</div>
		<!-- <hr> -->
		

		
		

		
	

		
		
	</div>

</div>

<div class="loading" *ngIf="loading">
	<div style="text-align: center; color: white;position: absolute;top: 20px;z-index: 999999;">
    	{{ textLoading }}
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
    
</div>

<style type="text/css">
    .bg-secondary  {
	    display: none !important;
	}
</style>