    .my-drop-zone {
        position: relative;
    	border: dotted 3px lightgray;
		border-radius: 10px;
		height: 50px;

		background-color: #eee;
		padding: 10px;
     }
    .nv-file-over {
    	color: #FFC107;
    	border: dotted 5px #FFC107;
    	background-color: #fff;

    } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }

    html, body { height: 100%; }
    .fixed-top {
        z-index: 9999 !important;
    }

    .card{
    	margin-bottom: 0px;
    	border-radius: 15px;
    }

    .card-body{
        padding: 10px;
    }

    .valign{
        top:40% !important;
        // left: 25%;
    }

    .badge{
    	padding: 5px;
    	margin: 0 7px 7px 0 !important;
    	border-radius: 10px;
        position: relative;
        z-index: 9;

    }

    .badge-info{
        background-color: #2F9B84;
    }
    .my-drop-zone p{
        font-size: 0.9em;
        color: grey;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        z-index: 0;

    }
    .badge-secondary{
        cursor: pointer;
    }
    .multi-file{
    	height: 300px;
    	max-height: 300px;
    	overflow: scroll;
    }

    .multi-file-2{
        height: 220px;
        max-height: 260px;
        overflow: scroll;
    }

    .margin-bottom{
		margin-bottom: 20px;
	}

	.btn{
		border-radius: 25px;
		width: 50%;
	}

    .btn-badge{
        background: none;
        border: none;
    }

	.btn-xs{
		margin: 0;
		padding: 0;
		background: none;
		width: 22px;
        a{
            color: inherit !important;
        }
	}
