
<div class="">
	<!-- <h1><i class="fa fa-arrow-circle-o-down fa-1x"></i> DRAG AND DROP</h1>
	<hr>
 -->
	<!-- <div class="row margin-bottom">
			<div class="col-sm-6 text-right">
				<button class="btn btn-warning btn-lg"><i class="fa fa-upload"></i> EXPORTER</button>
			</div>

			<div class="col-sm-6 text-left">
				<button class="btn btn-danger btn-lg"><i class="fa fa-times"></i> SUPPRIMER</button>

			</div>
	</div> -->
	<div class="row">


		<div class="col-md-3">
			<div class="">


				<div class="card">
				  <div class="card-body">
				    <!-- <h5 class="card-title">CSV1 Client</h5> -->

				    <div class="card-text">

				    	<div class="loading" *ngIf="clientLoading">
						    <ngx-loading [show]="clientLoading" [config]="{ backdropBorderRadius: '12px', backdropBackgroundColour: 'rgba(255,255,255,0.6)',
						    primaryColour: '#FFC107',
					        secondaryColour: '#FFC107',
					        tertiaryColour: '#FFC107'
						      }" [template]="customLoadingTemplate"></ngx-loading>

						</div>

				    	<div ng2FileDrop
			                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver['client']}"
			                 (fileOver)="fileOverBase($event,'client')"
			                 (onFileDrop)="onClientDrop($event)"
			                 [uploader]="client"
			                 class="well my-drop-zone">
			                <span class="badge badge-warning" *ngFor="let item of client.queue" >{{ item?.file?.name }}
			                	<button class="btn btn-xs" (click)="removeFile(item,client)"><i class="fa fa-times"></i></button>
			                </span>



			                <span class="badge badge-{{ csvClient.delete ? 'danger' : 'secondary' }}" *ngIf="client.queue.length == 0 && csvClient.name" >
			                {{ csvClient.name }}
					                <button class="btn btn-xs">
					                	<a href="{{ csvClient.url }}">
					                		<i class="fa fa-download"></i>
					                	</a>
					                </button>

					                <button class="btn btn-xs" (click)="remove(csvClient)"><i class="fa fa-times"></i>
					                </button>

			                </span>


			                <p class="text-center" >
			                	<i class="fa fa-arrow-circle-o-down"></i> DROP Ex : CSV1_client.csv

			                </p>


			            </div>

					</div>

				  </div>
				</div>


				<div class="card">
				  <div class="card-body">
				    <!-- <h5 class="card-title">CSV Traduction</h5> -->

				    <div class="card-text">
				    	<div class="loading" *ngIf="tradLoading">
						    <ngx-loading [show]="tradLoading" [config]="{ backdropBorderRadius: '12px', backdropBackgroundColour: 'rgba(255,255,255,0.6)',
						    primaryColour: '#FFC107',
					        secondaryColour: '#FFC107',
					        tertiaryColour: '#FFC107'
						      }" [template]="customLoadingTemplate"></ngx-loading>

						</div>

				    	<div ng2FileDrop
			                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver['traduction']}"
			                 (fileOver)="fileOverBase($event,'traduction')"
			                 (onFileDrop)="onTraductionDrop($event)"
			                 [uploader]="traduction"
			                 class="well my-drop-zone">
			                <span class="badge badge-warning" *ngFor="let item of traduction.queue" >{{ item?.file?.name }} <button class="btn btn-xs" (click)="removeFile(item,traduction)"><i class="fa fa-times"></i></button> </span>

			                <span class="badge badge-{{ csvTraduction.delete ? 'danger' : 'secondary' }}" *ngIf="traduction.queue.length == 0 && csvTraduction.name" >
			                {{ csvTraduction.name }}
					                <button class="btn btn-xs">
					                	<a href="{{ csvTraduction.url }}">
					                		<i class="fa fa-download"></i>
					                	</a>
					                </button>

					                <button class="btn btn-xs" (click)="remove(csvTraduction)"><i class="fa fa-times"></i>
					                </button>

			                </span>

			                <p  class="text-center" ><i class="fa fa-arrow-circle-o-down"></i> DROP Ex : CSV_traduction.csv</p>
			            </div>

					</div>

				  </div>
				</div>

				<div class="card">
				  <div class="card-body">
				    <!-- <h5 class="card-title">CSV2 Enjeu</h5> -->

				    <div class="card-text">
				    	<div class="loading" *ngIf="enjeuLoading">
						    <ngx-loading [show]="enjeuLoading" [config]="{ backdropBorderRadius: '12px', backdropBackgroundColour: 'rgba(255,255,255,0.6)',
						    primaryColour: '#FFC107',
					        secondaryColour: '#FFC107',
					        tertiaryColour: '#FFC107'
						      }" [template]="customLoadingTemplate"></ngx-loading>

						</div>
				    	<div ng2FileDrop
			                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver['enjeu']}"
			                 (fileOver)="fileOverBase($event,'enjeu')"
			                 (onFileDrop)="onEnjeuDrop($event)"
			                 [uploader]="enjeu"
			                 class="well my-drop-zone">
			                <span class="badge badge-warning" *ngFor="let item of enjeu.queue" >{{ item?.file?.name }} <button class="btn btn-xs" (click)="removeFile(item,enjeu)"><i class="fa fa-times"></i></button> </span>

			       			<span class="badge badge-{{ csvEnjeu.delete ? 'danger' : 'secondary' }}" *ngIf="enjeu.queue.length == 0 && csvEnjeu.name" >
			                {{ csvEnjeu.name }}
					                <button class="btn btn-xs">
					                	<a href="{{ csvEnjeu.url }}">
					                		<i class="fa fa-download"></i>
					                	</a>
					                </button>

					                <button class="btn btn-xs" (click)="remove(csvEnjeu)"><i class="fa fa-times"></i>
					                </button>

			                </span>

			                <p class="text-center" ><i class="fa fa-arrow-circle-o-down"></i> DROP Ex : CSV2_enjeu.csv</p>
			            </div>

					</div>

				  </div>
				</div>

				<div class="card">
				  <div class="card-body">
				    <!-- <h5 class="card-title">CSV2 Enjeu</h5> -->

				    <div class="card-text">
				    	<div class="loading" *ngIf="satLoading">
						    <ngx-loading [show]="satLoading" [config]="{ backdropBorderRadius: '12px', backdropBackgroundColour: 'rgba(255,255,255,0.6)',
						    primaryColour: '#FFC107',
					        secondaryColour: '#FFC107',
					        tertiaryColour: '#FFC107'
						      }" [template]="customLoadingTemplate"></ngx-loading>

						</div>
				    	<div ng2FileDrop
			                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver['sat']}"
			                 (fileOver)="fileOverBase($event,'sat')"
			                 (onFileDrop)="onSatDrop($event)"
			                 [uploader]="sat"
			                 class="well my-drop-zone">
			                <span class="badge badge-warning" *ngFor="let item of sat.queue" >{{ item?.file?.name }} <button class="btn btn-xs" (click)="removeFile(item,sat)"><i class="fa fa-times"></i></button> </span>

			       			<span class="badge badge-{{ csvSat.delete ? 'danger' : 'secondary' }}" *ngIf="sat.queue.length == 0 && csvSat.name" >
			                {{ csvSat.name }}
					                <button class="btn btn-xs">
					                	<a href="{{ csvSat.url }}">
					                		<i class="fa fa-download"></i>
					                	</a>
					                </button>

					                <button class="btn btn-xs" (click)="remove(csvSat)"><i class="fa fa-times"></i>
					                </button>

			                </span>

			                <p class="text-center" ><i class="fa fa-arrow-circle-o-down"></i> DROP Ex : CSV2_SAT.csv</p>
			            </div>

					</div>

				  </div>
				</div>

				<div class="card">
				  <div class="card-body">
				    <!-- <h5 class="card-title">CSV Couleur</h5> -->

				    <div class="card-text">
				    	<div class="loading" *ngIf="couleurLoading">
						    <ngx-loading [show]="couleurLoading" [config]="{ backdropBorderRadius: '12px', backdropBackgroundColour: 'rgba(255,255,255,0.6)',
						    primaryColour: '#FFC107',
					        secondaryColour: '#FFC107',
					        tertiaryColour: '#FFC107'
						      }" [template]="customLoadingTemplate"></ngx-loading>

						</div>
				    	<div ng2FileDrop
			                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver['couleur']}"
			                 (fileOver)="fileOverBase($event,'couleur')"
			                 (onFileDrop)="onEnjeuDrop($event)"
			                 [uploader]="couleur"
			                 class="well my-drop-zone">
			                <span class="badge badge-warning" *ngFor="let item of couleur.queue" >{{ item?.file?.name }} <button class="btn btn-xs" (click)="removeFile(item,couleur)"><i class="fa fa-times"></i></button> </span>

			                <span class="badge badge-{{ csvCouleur.delete ? 'danger' : 'secondary' }}" *ngIf="couleur.queue.length == 0 && csvCouleur.name" >
			                {{ csvCouleur.name }}
					                <button class="btn btn-xs">
					                	<a href="{{ csvCouleur.url }}">
					                		<i class="fa fa-download"></i>
					                	</a>
					                </button>

					                <button class="btn btn-xs" (click)="remove(csvCouleur)"><i class="fa fa-times"></i>
					                </button>

			                </span>

			                <p class="text-center" ><i class="fa fa-arrow-circle-o-down"></i> DROP Ex : CSV_couleur.csv</p>
			            </div>

					</div>

				  </div>
				</div>



			</div>





		</div>
		<div class="col-md-3">
				<div class="card">
				  <div class="card-body">
				    <h5 class="card-title">PNG Organisations</h5>

				    <div class="card-text">

				    	<div class="loading" *ngIf="orgaPngLoading">
						    <ngx-loading [show]="orgaPngLoading" [config]="{ backdropBorderRadius: '12px', backdropBackgroundColour: 'rgba(255,255,255,0.6)',
						    primaryColour: '#FFC107',
					        secondaryColour: '#FFC107',
					        tertiaryColour: '#FFC107'
						      }" [template]="customLoadingTemplate"></ngx-loading>

						</div>

				    	<div ng2FileDrop
			                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver['orga']}"
			                 (fileOver)="fileOverBase($event,'orga')"
			                 (onFileDrop)="onOrgaDrop($event)"
			                 [uploader]="orga"
			                 class="well my-drop-zone multi-file" >
			                <span class="badge badge-warning" *ngFor="let item of orga.queue" >{{ item?.file?.name }} <button class="btn btn-xs" (click)="removeFile(item,orga)"><i class="fa fa-times"></i></button></span>

			       			<span class="badge badge-{{ item.delete ? 'danger' : 'secondary' }}" *ngFor="let item of listOrgaPng" >{{ item.name }}

			       				<button class="btn btn-xs">
					                	<a href="{{ item.url }}" download="{{ item.name }}" target="_blank">
					                		<i class="fa fa-download"></i>
					                	</a>
					            </button>
			       				<button class="btn btn-xs" (click)="remove(item)"><i class="fa fa-times"></i></button></span>

			                <p class="text-center valign" ><i class="fa fa-arrow-circle-o-down"></i> DROP Ex : orga_33.png</p>
			            </div>

					</div>

				  </div>
				</div>

		</div>
		<div class="col-md-3">
				<div class="card">
				  <div class="card-body">
				    <h5 class="card-title">PNG Clients</h5>

				    <div class="card-text">

				    	<div class="loading" *ngIf="clientPngLoading">
						    <ngx-loading [show]="clientPngLoading" [config]="{ backdropBorderRadius: '12px', backdropBackgroundColour: 'rgba(255,255,255,0.6)',
						    primaryColour: '#FFC107',
					        secondaryColour: '#FFC107',
					        tertiaryColour: '#FFC107'
						      }" [template]="customLoadingTemplate"></ngx-loading>

						</div>

				    	<div ng2FileDrop
			                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver['clientPng']}"
			                 (fileOver)="fileOverBase($event,'clientPng')"
			                 (onFileDrop)="onClientPngDrop($event)"
			                 [uploader]="clientPng"
			                 class="well my-drop-zone multi-file" >
			                <span class="badge badge-warning" *ngFor="let item of clientPng.queue" >{{ item?.file?.name }} <button class="btn btn-xs" (click)="removeFile(item,clientPng)"><i class="fa fa-times"></i></button></span>

			                <span class="badge badge-{{ item.delete ? 'danger' : 'secondary' }}" *ngFor="let item of listClientPng" >{{ item.name }}

			                	<button class="btn btn-xs">
					                	<a href="{{ item.url }}" download="{{ item.name }}" target="_blank">
					                		<i class="fa fa-download"></i>
					                	</a>
					            </button>
			                	<button class="btn btn-xs" (click)="remove(item)"><i class="fa fa-times"></i></button></span>


			                <p class="text-center valign" ><i class="fa fa-arrow-circle-o-down"></i> DROP Ex : client_1.png
			                	<br>
			                	<i class="fa fa-arrow-circle-o-down"></i> DROP Ex : frontoffice_2.png <br>
			                	<i class="fa fa-arrow-circle-o-down"></i> DROP Ex : favicon_1.png
			                </p>
			            </div>

					</div>

				  </div>
				</div>
		</div>
		<div class="col-md-3">
				<div class="card">
				  <div class="card-body">
				    <h5 class="card-title">PNG Enjeux</h5>

				    <div class="card-text">

				    	<div class="loading" *ngIf="enjeuPngLoading">
						    <ngx-loading [show]="enjeuPngLoading" [config]="{ backdropBorderRadius: '12px', backdropBackgroundColour: 'rgba(255,255,255,0.6)',
						    primaryColour: '#FFC107',
					        secondaryColour: '#FFC107',
					        tertiaryColour: '#FFC107'
						      }" [template]="customLoadingTemplate"></ngx-loading>

						</div>


				    	<div ng2FileDrop
			                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver['enjeuPng']}"
			                 (fileOver)="fileOverBase($event,'enjeuPng')"
			                 (onFileDrop)="onEnjeuPngDrop($event)"
			                 [uploader]="enjeuPng"
			                 class="well my-drop-zone multi-file" >
			                <span class="badge badge-warning" *ngFor="let item of enjeuPng.queue" >{{ item?.file?.name }} <button class="btn btn-xs" (click)="removeFile(item,enjeuPng)"><i class="fa fa-times"></i></button></span>

			       			 <span class="badge badge-{{ item.delete ? 'danger' : 'secondary' }}" *ngFor="let item of listEnjeuPng" >{{ item.name }}

			       			 	<button class="btn btn-xs">
					                	<a href="{{ item.url }}" download="{{ item.name }}" target="_blank">
					                		<i class="fa fa-download"></i>
					                	</a>
					            </button>

			       			 	<button class="btn btn-xs" (click)="remove(item)"><i class="fa fa-times"></i></button></span>

			                <p class="text-center valign" ><i class="fa fa-arrow-circle-o-down"></i> DROP Ex : enjeu_picto_1.png</p>
			            </div>

					</div>

				  </div>
				</div>

		</div>

		<hr>

		<div class="col-md-6">

				<div class="card">
				  <div class="card-body">
				    <h5 class="card-title">CSV3 Phrases</h5>

				    <div class="card-text">

				    	<div class="loading" *ngIf="phraseLoading">
						    <ngx-loading [show]="phraseLoading" [config]="{ backdropBorderRadius: '12px', backdropBackgroundColour: 'rgba(255,255,255,0.6)',
						    primaryColour: '#FFC107',
					        secondaryColour: '#FFC107',
					        tertiaryColour: '#FFC107'
						      }" [template]="customLoadingTemplate"></ngx-loading>

						</div>

				    	<div ng2FileDrop
			                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver['phrase']}"
			                 (fileOver)="fileOverBase($event,'phrase')"
			                 (onFileDrop)="onPhraseDrop($event)"
			                 [uploader]="phrase"
			                 class="well my-drop-zone multi-file-2" >
			                <span class="badge badge-warning" *ngFor="let item of phrase.queue" >{{ item?.file?.name }} <button class="btn btn-xs" (click)="removeFile(item,phrase)"><i class="fa fa-times"></i></button></span>
			                <span *ngFor="let item of phrases; index as i">
			                	<span class="badge badge-{{ item.delete ? 'danger' : (phrases[i].valid ? 'info' : 'secondary') }}" *ngIf="item.name" >{{ item.name }}
				                	<button class="btn btn-xs">
						                	<!-- <a [href]="sanitize(item.csv)" download="{{ item.name }}" target="_blank"> -->
						                	<a (click)="exportCsvPhrase(item)" >
						                		<i class="fa fa-download"></i>
						                	</a>
						            </button>

				                	<button class="btn btn-xs" (click)="remove(item)"><i class="fa fa-times"></i></button>
				                </span>

			                </span>


			                <p class="text-center valign" ><i class="fa fa-arrow-circle-o-down"></i> DROP Ex : CSV3_0014.csv</p>
			            </div>

					</div>

				  </div>
				</div>

		</div>

		<div class="col-md-6">

				<div class="card">
				  <div class="card-body">
				    <h5 class="card-title">PDF</h5>

				    <div class="card-text">

				    	<div class="loading" *ngIf="pdfLoading">
						    <ngx-loading [show]="pdfLoading" [config]="{ backdropBorderRadius: '12px', backdropBackgroundColour: 'rgba(255,255,255,0.6)',
						    primaryColour: '#FFC107',
					        secondaryColour: '#FFC107',
					        tertiaryColour: '#FFC107'
						      }" [template]="customLoadingTemplate"></ngx-loading>

						</div>

				    	<div ng2FileDrop
			                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver['pdf']}"
			                 (fileOver)="fileOverBase($event,'pdf')"
			                 (onFileDrop)="onPdfDrop($event)"
			                 [uploader]="pdf"
			                 class="well my-drop-zone multi-file-2" >
			                <span class="badge badge-warning" *ngFor="let item of pdf.queue" >{{ item?.file?.name }} <button  class="btn btn-xs" (click)="removeFile(item,pdf)"><i class="fa fa-times"></i></button></span>

			                <span class="badge badge-{{ item.delete ? 'danger' : 'secondary' }}" *ngFor="let item of listPdf" >{{ item.name }}

			                	<button class="btn btn-xs">
					                	<a href="{{ item.url }}">
					                		<i class="fa fa-download"></i>
					                	</a>
					            </button>

			                	<button class="btn btn-xs" (click)="remove(item)"><i class="fa fa-times"></i></button></span>

			                <p class="text-center valign" ><i class="fa fa-arrow-circle-o-down"></i> DROP Ex : PDF3-0014.pdf</p>
			            </div>

					</div>

				  </div>
				</div>

		</div>


	</div>



	<div class="row margin-bottom">
			<div class="col-sm-6 text-right">
				<button class="btn btn-warning btn-lg" (click)="export()"><i class="fa fa-upload"></i> UPLOADER LES FICHIERS</button>
			</div>

			<div class="col-sm-6 text-left">
				<button class="btn btn-danger btn-lg" (click)="removeAll()"><i class="fa fa-times"></i> SUPPRIMER</button>

			</div>
	</div>
	<div class="alert alert-success" *ngFor="let text of success">
        <p [innerHtml]="text"></p>
    </div>
	<div class="alert alert-danger" *ngFor="let error of errors">
        <p [innerHtml]="error"></p>
    </div>

</div>

<ng-template #content let-c="close" let-d="dismiss">
                   <!--  <div class="modal-header">
                        <h4 class="modal-title"><i class="fa fa-times"></i></h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div> -->
                    <div class="modal-body text-center">
                    	<!-- <h4 class="modal-title"></h4> -->
                    	<p><i class="fa fa-exclamation-triangle fa-5x" style="color: #727B84"></i></p>
                        <p>  Erreur : Le fichier uploadé n'est pas un fichier CSV!!</p>
                        <div class="text-right"><button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button></div>
                    </div>
                   <!--  <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    </div> -->
</ng-template>

<ng-template #pngError let-c="close" let-d="dismiss">
                   <!--  <div class="modal-header">
                        <h4 class="modal-title"><i class="fa fa-times"></i></h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div> -->
                    <div class="modal-body text-center">
                    	<!-- <h4 class="modal-title"></h4> -->
                    	<p><i class="fa fa-exclamation-triangle fa-5x" style="color: #727B84"></i></p>
                        <p>  Erreur : Le fichier uploadé n'est pas un fichier Image!!</p>
                        <div class="text-right"><button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button></div>
                    </div>
                   <!--  <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    </div> -->
</ng-template>

<ng-template #pdfError let-c="close" let-d="dismiss">
                   <!--  <div class="modal-header">
                        <h4 class="modal-title"><i class="fa fa-times"></i></h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div> -->
                    <div class="modal-body text-center">
                    	<!-- <h4 class="modal-title"></h4> -->
                    	<p><i class="fa fa-exclamation-triangle fa-5x" style="color: #727B84"></i></p>
                        <p>  Erreur : Le fichier uploadé n'est pas un fichier PDF ou un ficher PNG!!</p>
                        <div class="text-right"><button type="button" class="btn btn-secondary" (click)="c('Close click')">Fermer</button></div>
                    </div>
                   <!--  <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    </div> -->
</ng-template>

<div class="loading" *ngIf="loading">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>

<style type="text/css">
    .modal-dialog {
    max-width: 800px !important;

}
</style>
